{% extends "base.html" %}

{% block content %}
    <script src={{ url_for('static', filename='js/html5-qrcode.js') }}></script>
    <script src={{ url_for('static', filename='js/jsqrcode-combined.js') }}></script>
    <div class="column is-4 is-offset-4">
        <h3 class="title">Pridėti prietaisą</h3>
        <div class="box">
            {% with errors = get_flashed_messages(category_filter=["danger"]) %}
                {% if errors %}
                    {%- for message in errors %}
                        <div class="notification is-danger">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor -%}
                {% endif %}
            {% endwith %}          
            {% with errors = get_flashed_messages(category_filter=["success"]) %}
                {% if errors %}
                    {%- for message in errors %}
                        <div class="notification is-success">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor -%}
                {% endif %}
            {% endwith %}  
            <!--<div id="reader" style="height: fit-content;"></div>-->
            <form method=post enctype=multipart/form-data>                         
                <div class="field">
                    <div class="control">
                        <div class="upload-btn-wrapper">
                            <button class="fancy-button">Įkelti QR kodą
                            <input type="file" name="file" accept="image/*" capture="camera">  
                            </button>    
                        </div>                            
                    </div>
                </div>                 
                <input class="button is-block is-info is-large is-fullwidth" type="submit" value='Užregistruoti prietaisą'>
            </form>
        </div>
        <script>
            $('#reader').html5_qrcode(function(data){
                /* do something when code is read */
              }, function(error){
                /* show read errors */
              }, function(videoError){
                /* the video stream could be opened */
              });
        </script>
{% endblock %}