{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4  has-text-centered">
    <h3 class="title">Registracija</h3>
    <div class="box">        
        <form action="/signup" method="POST">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="El. paštas" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Vardas" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Slaptažodis">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="repeatPassword" placeholder="Pakartokite slaptažodį">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Užsiregistruoti</button>
        </form>
    </div>
</div>
{% endblock %}