{% extends "base.html" %}

{% block content %}
<div class="tab-box-div">
    <div class="tab">
        <a class="tablinks" href="{{ url_for('admin.profiles_list') }}">Paskyros</a>
        <a class="tablinks" href="{{ url_for('admin.admin_system_devices') }}">Prietaisai</a>
        <a class="tablinks" href="{{ url_for('admin.analytics') }}">Analitika</a>
      </div>
    <div class="container has-text-centered">
        {% block boxContent %}
        {% endblock %}
    </div>
</div>
{% endblock %}