<!DOCTYPE html>
<html>
    <head> 
        <title>Lima konfiguracija</title> 
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body> 
        <div class="box has-text-centered">
            <h1>Lima DVK nustatymai</h1>
            <div  class="topnav">
                <a href="/index">Pradzia</a>
                <a href="/mesh">Mesh</a>
                <a style="float: right;" href="/reboot-wifi">Perkrauti WiFi</a>         
            </div>
            <h2> Pagrindinis</h2>
            <h3>Daiktu interneto irenginio konfiguravimo irankis.</h3>
        </div>
    </body>
</html>