<!DOCTYPE html>
<html>
    <head> 
        <title>Lima konfiguracija</title> 
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body> 
        <div class="box has-text-centered">
            <h1>Lima DVK nustatymai</h1>
            <div  class="topnav">
                <a href="/index">Pradzia</a>
                <a href="/mesh">Mesh</a>
                <a style="float: right;" href="/reboot-wifi">Perkrauti WiFi</a>        
            </div>
            <div>
                <h2>IoT irenginio Mesh tinklo nustatymai (802.11s)</h2>
                <div class="form-row">
                    <div class="form-label-column">
                        <h3>MAC:</h3>  
                    </div>
                    <div class="form-value-column">
                        <h3>{mac}</h3>
                    </div>
                </div>
                <form action="/mesh_save" method="post">
                <div class="form-row">
                    <div class="form-label-column">
                        <h3>Mesh ID:</h3>  
                    </div>
                    <div class="form-value-column">
                        <input class="input form-field is-large" type="text" id="meshId" value="{mesh_id}" name="meshId">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label-column">
                        <h3>Slaptazodis:</h3> 
                    </div>
                    <div class="form-value-column">
                    <input class="input form-field is-large" type="password" id="password" value="{password}" name="password">
                    </div>
                </div>   
                <div class="form-row">
                    <div class="form-label-column">
                        <h3>Retransliavimas:</h3> 
                    </div>
                    <div class="form-value-column">
                        <label class="switch">
                            <input id="meshFwding" name="meshFwding" type="checkbox" {mesh_fwding}>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>  
                <input type="submit" class="fancy-button" value="Issaugoti">
                </form> 
            </div>
        </div>
    </body>
</html>