<!DOCTYPE html>
<html>
    <head> 
        <title>Lima konfiguracija</title> 
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body> 
        <div class="box has-text-centered">
            <h1>Lima DVK nustatymai</h1>
            <div  class="topnav">
                <a href="/index">Pradzia</a>
                <a href="/mesh">Mesh</a>
                <a style="float: right;" href="/reboot-wifi">Perkrauti WiFi</a>        
            </div>
            <h1>Sėkmingai išsaugota!</h1>
        </div>
    </body>
</html>