{% extends "admin/admin_panel.html" %}

{% block boxContent %}
<div class="tab-box">
    <h2>Sistemos naudotojai</h2>
    <div id="tableSection">				
        <table id="profilesTable" class="display">
            <thead>
                <tr>
                    <th>E-mail</th>
                    <th>Vardas</th>
                    <th>Prietaisų sk.</th>
                    <th>Profilio UUID</th>
                    <th></th>				
                </tr>
            </thead>			
        </table>
    </div>
</div>
<script>
        $(document).ready(function () {

        var table = $('#profilesTable').DataTable({
            "ajax": {
                "url": "{{ url_for('main.get_system_profiles') }}",
                "data_type": "json",
                "dataSrc": "data",
                "contentType":"application/json",
                "error": function (xhr){
                    notification("Klaida: " + xhr.responseText, 5000);
                }  
            },
            "columns": [
                {"data": "email"},
                {"data": "name"},
                {"data": "device_count"},
                {"data": "uuid"},
                {"defaultContent": "<button class='fancy-button'>Prietaisai</button>"},
            ]
        });

        $('#profilesTable tbody').on( 'click', 'button', function () {
            var data = table.row( $(this).parents('tr')).data();
            var id = data.id

            window.location = "{{ url_for('main.profile_devices') }}" + id;	
        });
    });
</script>
{% endblock %}