{% block commonFormContent %}
    <div class="content-box">          
        <div class="form-label-column"> 
            <h1 class="subtitle has-text-centered">Bendri nustatymai</h1>           
            <div class="form-row">
                <div class="form-label-column">
                    {{ form.config_name.label }}    
                </div>
                <div class="form-value-column">
                    {{ form.config_name(class="input form-field is-large") }}
                </div>
            </div> 
            <br/>              
            <br/>
            <div class="form-row">
                <div class="form-label-column">
                    {{ form.start_time.label }}    
                </div>
                <div class="form-value-column">
                    {{ form.start_time(class="input form-field is-large", type="time") }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-label-column">
                    {{ form.duration.label }}    
                </div>
                <div class="form-value-column">
                    {{ form.duration(class="input form-field is-large", type="time") }}
                </div>
            </div>   
            <br/>
            <br/>
            <br/>
            <div class="form-row">
                <div class="form-label-column">
                    {{ form.is_active.label }}    
                </div>
                <div class="form-value-column">
                    <label class="switch">
                        {{ form.is_active(class="check-box") }}
                        <span class="slider round"></span>
                    </label>                    
                </div>
            </div>
        </div>
        
        <div class="form-value-column">
            <h1 class="subtitle has-text-centered">Savaitės dienos</h1>
            <div class="form-row">
                <div class="form-label-column">
                    {{ form.monday.label }}    
                </div>
                <div class="form-value-column">
                    <label class="switch">
                        {{ form.monday(class="check-box") }}
                        <span class="slider round"></span>
                    </label>                    
                </div>
            </div>
            <div class="form-row">
                <div class="form-label-column">
                    {{ form.tuesday.label }}    
                </div>
                <div class="form-value-column">
                    <label class="switch">
                        {{ form.tuesday(class="check-box") }}
                        <span class="slider round"></span>
                    </label>                    
                </div>
            </div>
            <div class="form-row">
                <div class="form-label-column">
                    {{ form.wednesday.label }}    
                </div>
                <div class="form-value-column">
                    <label class="switch">
                        {{ form.wednesday(class="check-box") }}
                        <span class="slider round"></span>
                    </label>                    
                </div>
            </div>
            <div class="form-row">
                <div class="form-label-column">
                    {{ form.thursday.label }}    
                </div>
                <div class="form-value-column">
                    <label class="switch">
                        {{ form.thursday(class="check-box") }}
                        <span class="slider round"></span>
                    </label>                    
                </div>
            </div>
            <div class="form-row">
                <div class="form-label-column">
                    {{ form.friday.label }}    
                </div>
                <div class="form-value-column">
                    <label class="switch">
                        {{ form.friday(class="check-box") }}
                        <span class="slider round"></span>
                    </label>                    
                </div>
            </div>
            <div class="form-row">
                <div class="form-label-column">
                    {{ form.saturday.label }}    
                </div>
                <div class="form-value-column">
                    <label class="switch">
                        {{ form.saturday(class="check-box") }}
                        <span class="slider round"></span>
                    </label>                    
                </div>
            </div>
            <div class="form-row">
                <div class="form-label-column">
                    {{ form.sunday.label }}    
                </div>
                <div class="form-value-column">
                    <label class="switch">
                        {{ form.sunday(class="check-box") }}
                        <span class="slider round"></span>
                    </label>                    
                </div>
            </div>   
        </div>                 
    </div>
{% endblock %} 