.page {
	padding-left: 160px;
	padding-right: 0px;
	overflow-x: hidden !important;
}

#title{
	padding-left: 20px;
}

body{
	background: linear-gradient(0.25turn,#e7e9e8, #f0fff9);
}

h1 {
	color: #026670;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

td {
	text-align: center;
	font-size: 12px;
}

.display{
	width: 600px;
}

.fancy-button {
	background: #cae9dd; 
	border: none;
	width: 150px;
	height: 50px;
	text-align:center; 
	vertical-align:middle;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	color: white;
	border-radius: 4px;
	padding-top: 10px;
	cursor:pointer;
	display: inline-block;
  }

  
  .fancy-button.is-fullwidth{
	display:flex;
	width:100%;	
  }
 
  .paginate_button {
	background: #cae9dd; 
	border: none;
  }

  .disabled {
	background: #cae9dd !important; 
	border: none;
  }

  .paginate_button:not(.disabled):hover {
	background: linear-gradient(-0.45turn,#72e9db, #a0f8d5) !important; 
	border: none !important;	
  }

  .current {
	background: linear-gradient(0.45turn,#72e9db, #a0f8d5) !important; 
	border: none !important;
  }

  input[type="search"]{
	background: #cae9dd;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	color: #026670;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border: none;
  }

  input[type="search"]:hover{
	background: linear-gradient(-0.45turn,#72e9db, #a0f8d5);
  }

  select[name$="_length"]{
	background: #cae9dd !important;
	border: none;
  }

  select[name$="_length"]:hover{
	background: linear-gradient(-0.45turn,#72e9db, #a0f8d5) !important;
  }

  .dataTables_filter{
	  padding-left: 20px;
  }

  .fancy-button:hover{
	  background: linear-gradient(-0.45turn,#72e9db, #a0f8d5);
	  cursor: pointer;
  }

  .bottom-btn{
	position: absolute;
	bottom:0;
	padding-bottom: 20px;
	padding-left: 20px;
  }

/* Formos */

.form-container {
	display: table;
	width: 50%;
	padding: 5px;
}

.form-row {
	display: table-row;
	width: 100%;
	height: auto;
	margin: 5px;
	padding: 2px;
	vertical-align: middle;
}

.form-label-column {
	display: table-cell;
	width: 150px;
	height: auto;
	text-align: right;
	font-weight: Normal;
	vertical-align: middle;
	margin: 5px;
    padding: 4px 5px 4px 0px;
    color: #026670;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.form-value-column {
	display: table-cell;
	width: auto;
	height: auto;
	vertical-align: middle;
	margin: 5px;
    padding: 4px 0px 4px 20px;    
    color: #026670;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.form-field {
	background: #cae9dd;
	height: 30px;
	width: 300px;
	text-align: center;
	vertical-align: middle;
	color: #026670;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border: none;
}

.form-field:hover{
	background: linear-gradient(-0.45turn,#72e9db, #a0f8d5);
}

.drop-down-list {
	background: #cae9dd;
	height: 30px;
	border: none;
	text-align: center;
	vertical-align: middle;
	color: #026670;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

option {
	background: #cae9dd;
}

.drop-down-list:checked{
	background: linear-gradient(-0.45turn,#72e9db, #a0f8d5);
}

.drop-down-list:hover{
	background: linear-gradient(-0.45turn,#72e9db, #a0f8d5);
}

/* Žemėlapis */
.map {
	position: absolute;
	height: 90%;
	width: 90%;
	top: 10%;
	right: 0;
  }
  
.formMap{
    height: 90%;
    width: 55%;
    position: absolute;
	top: 10%;
	right: 0;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	background-color:#fff;
	color:#363636;
	cursor:pointer;
	justify-content:center;
	text-align:center;
	white-space:nowrap;
	border-color:#dbdbdb;
	border-width:1px;
	padding:calc(.375em-1px) .75em;
}

.upload-btn-wrapper:hover{
	background: linear-gradient(-0.45turn,#72e9db, #a0f8d5);
	cursor: pointer;
}

.fancy-button input[type=file] {
	font-size: inherit;
	width: inherit;
	height: inherit;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;	
}

