{% extends "base.html" %}

{% block content %}
<div class="container  has-text-centered">
  <h1 class="title">
    Sveiki, {{ model.name }}!
  </h1>   
   <div class="box">
        <h1 class="subtitle">
            Profilio duomenys
        </h1>
        <div class="form-row">
            <div class="form-label-column">
                <h1>Vartotojo vardas:</h1> 
            </div>
            <div class="form-value-column">
                {{ model.name }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-column">
                <h1>El. pašto adresas:</h1>    
            </div>
            <div class="form-value-column">
                {{ model.email }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-column">
                <h1>Prietaisų skaičius:</h1>  
            </div>                     
            <div class="form-value-column">
                {{ model.device_count }}
            </div>                 
        </div>  
        <div class="form-row">
            <div class="form-label-column">
                <h1>Unikalus identifikatorius:</h1>  
            </div>                     
            <div class="form-value-column">
                {{ model.uuid }}
            </div>                 
        </div>
        <br/>
        <button id="edit-btn" style="float: left;" class="fancy-button">Redaguoti</button>
        <br/>
    </div>
</div>
<script>
    $('#edit-btn').on('click', function () {            
        window.location.href = '/edit-profile'
    });
</script>

{% endblock %}