{% block table %} 
<h1 class="subtitle"> {{ device.device_name}} konfigūracijos</h1>			
<table id="configTable">
    <thead>
        <tr>
            <th>Pavadinimas</th>
            <th>Pradžios laikas</th>	
            <th>Trukmė</th>	
            <th>Savaitės dienos</th>	
            <th>Aktyvi?</th>	
            <th></th>
            <th></th>	
            <th></th>
        </tr>
    </thead>			
</table>
    <script>        
        $(document).ready(function () {
            var table = $('#configTable').DataTable({
                "ajax": {
                    "url": "{{ url_for('main.get_device_configs', id=device.id) }}",
                    "data_type": "json",
                    "dataSrc": "data",
                    "contentType":"application/json",
                    "error": function (error){
                        getErrorMessage(error);
                    }                     
                },
                "columns": [
                    {"data": "name"},                    
                    {"data": "start_time"},
                    {"data": "duration"},
                    {"data": "weekdays"},
                    {"data": "is_active"},
                    {"defaultContent": "<button id='edit-cnfg-btn' class='fancy-button'>Redaguoti</button>"},
                    {"defaultContent": "<button id='activate-cnfg-btn' class='fancy-button'>Aktyvinti</button> <button id='stop-job-btn' class='fancy-button'>Stabdyti darbą</button>"},
                    {"defaultContent": "<button id='delete-cnfg-btn' class='fancy-button'>Pašalinti</button>"}
                ],
                "order": [
                    [ 0, "asc" ]
                ]
            }); 

            //paleidziama tik tada, kada prikabinami duomenys
             $('#configTable').on( 'draw.dt', function () {
                var table = $('#configTable').DataTable();
                table.$('#stop-job-btn').hide()
 
                table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
                    var row = this.data();
                    if (row.is_active === "Running"){
                        this.$('#stop-job-btn').eq(rowLoop).show()
                        this.$('#activate-cnfg-btn').eq(rowLoop).hide()
                        this.$('#delete-cnfg-btn').eq(rowLoop).hide()
                    }
                } );
            } );     
        });

         
    </script>
{% endblock %}