{% block table %} 
<h1 class="subtitle"> {{ device.device_name}} konfigūracijos</h1>			
<table id="configTable">
    <thead>
        <tr>
            <th>Pavadinimas</th>
            <th>Pradžios laikas</th>	
            <th>Pabaigos laikas</th>	
            <th>Savaitės dienos</th>	
            <th>Aktyvi?</th>	
            <th></th>
            <th></th>	
            <th></th>
        </tr>
    </thead>			
</table>
    <script>        
        $(document).ready(function () {
            var table = $('#configTable').DataTable({
                "ajax": {
                    "url": "{{ url_for('main.get_device_configs', id=device.id) }}",
                    "data_type": "json",
                    "dataSrc": "data",
                    "contentType":"application/json",
                    "error": function (error){
                        getErrorMessage(error);
                    }                     
                },
                "columns": [
                    {"data": "name"},                    
                    {"data": "start_time"},
                    {"data": "finish_time"},
                    {"data": "weekdays"},
                    {"data": "is_active"},
                    {"defaultContent": "<button id='edit-cnfg-btn' class='fancy-button'>Redaguoti</button>"},
                    {"defaultContent": "<button id='activate-cnfg-btn' class='fancy-button'>Aktyvinti</button>"},
                    {"defaultContent": "<button id='delete-cnfg-btn' class='fancy-button'>Pašalinti</button>"}
                ],
                "order": [
                    [ 0, "asc" ]
                ]
            }); 
        });
    </script>
{% endblock %}