{% extends "admin/adminPanel.html" %}

{% block boxContent %}
<div class="tab-box">
    <h1>Naujas IoT sistemos prietaisas</h1>
    <form method="POST" action="/adminPanel/editDevice">
        <div class="form-container">
            <div class="form-row">
                <div class="form-label-column">
                    {{ form.mac.label }}    
                </div>
                <div class="form-value-column">
                    {{ form.mac(id="macField", class="form-field") }}
                </div>
            </div>                 
        </div>                    
        <input type="submit" class="fancy-button" value="Pateikti">       
    </form>   
    <button id="backBtn" class="fancy-button">Atgal</button>       
</div>
{% endblock %}