{% extends "admin/adminPanel.html" %}

{% block boxContent %}
<div class="tab-box">
    <h2>Sistemos naudotojai</h2>
    <div id="tableSection">				
        <table id="profilesTable" class="display">
            <thead>
                <tr>
                    <th>E-mail</th>
                    <th>Vardas</th>
                    <th>Prietaisų sk.</th>
                    <th>Profilio UUID</th>
                    <th></th>	
                    <th></th>				
                </tr>
            </thead>			
        </table>
    </div>
</div>
<script>
    $( window ).on( "load", loadProfileTable );
</script>
{% endblock %}