{% extends "admin/admin_panel.html" %}

{% block boxContent %}
<div class="tab-box">
    <h2>Sistemos prietaisai</h2>
    <div id="tableSection">				
        <table id="devicesTable" class="display">
            <thead>
                <tr>
                    <th>MAC adresas</th>
                    <th>UUID numeris</th>
                    <th>Naudotojas</th>
                    <th></th>				
                </tr>
            </thead>			
        </table>
        <button id="createDevice" style="float: left;" class="fancy-button">Sukurti naują prietaisą</button>
    </div>
</div>
<script>
    $(document).ready(function () {

            var table = $('#devicesTable').DataTable({
                "ajax": {
                    "url": "{{ url_for('admin.get_devices_list') }}",
                    "data_type": "json",
                    "dataSrc": "data",
                    "contentType":"application/json",
                    "error": function (xhr){
                        notification("Klaida: " + xhr.responseText, 5000);
                    }  
                },
                "columns": [
                    {"data": "mac"},
                    {"data": "uuid"},
                    {"data": "user"},
                    {"defaultContent": "<button1 class='fancy-button'>Redaguoti</button1>"}      
                ]
            });

            $('#devicesTable tbody').on( 'click', 'button1', function () {
                var data = table.row( $(this).parents('tr')).data();
                var id = data.id

                window.location = "{{ url_for('admin.admin_edit_device',id=Null) }}" + id;	//perziuros langas
            });       
        });

    $("#createDevice").click(function(){
        window.location = "{{ url_for('admin.admin_create_device') }}"
    });
</script>
{% endblock %}