{% block commonFormContent %}
    <div class="content-box">  
        <div class="form-row">
            <div class="form-label-column">
                {{ form.configName.label }}    
            </div>
            <div class="form-value-column">
                {{ form.configName(class="form-field") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-column">
                {{ form.isActive.label }}    
            </div>
            <div class="form-value-column">
                {{ form.isActive(class="form-field") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-column">
                {{ form.monday.label }}    
            </div>
            <div class="form-value-column">
                {{ form.monday(class="form-field") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-column">
                {{ form.tuesday.label }}    
            </div>
            <div class="form-value-column">
                {{ form.tuesday(class="form-field") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-column">
                {{ form.wednesday.label }}    
            </div>
            <div class="form-value-column">
                {{ form.wednesday(class="form-field") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-column">
                {{ form.thursday.label }}    
            </div>
            <div class="form-value-column">
                {{ form.thursday(class="form-field") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-column">
                {{ form.friday.label }}    
            </div>
            <div class="form-value-column">
                {{ form.friday(class="form-field") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-column">
                {{ form.saturday.label }}    
            </div>
            <div class="form-value-column">
                {{ form.saturday(class="form-field") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-column">
                {{ form.sunday.label }}    
            </div>
            <div class="form-value-column">
                {{ form.sunday(class="form-field") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-column">
                {{ form.startTime.label }}    
            </div>
            <div class="form-value-column">
                {{ form.startTime(class="form-field") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-column">
                {{ form.finishTime.label }}    
            </div>
            <div class="form-value-column">
                {{ form.finishTime(class="form-field") }}
            </div>
        </div>               
    </div>
{% endblock %} 