{% extends "/devices/device_panel.html" %}

{% block boxContent %}
    <div class="tab-box">    
        <h1 class="subtitle has-text-centered">Nauja prietaiso konfigūracija</h1>  
        <form method=post enctype=multipart/form-data action="{{ url_for('main.edit_config', device_id=device.id) }}">
            {{ form.hidden_tag() }}
            <div class="control-panel">
                {% block commonFormContent %}
                    {% include '/devices/common_partials/_common_config_form.html' %}
                {% endblock %} 
                <br/>
                {% block formContent %}
                    {% if device.device_type == 1 %}
                        {% include '/devices/device_types/heater/_heater_create_config.html' %}
                    {% elif device.device_type == 0 %}
                        {% include '/devices/device_types/default_device/_default_device_create_config.html' %}
                    {% endif %} 
                {% endblock %}
            </div>
            <br/>               
            <button id="refresh-btn" style="float: right;" type="submit" class="fancy-button">Išsaugoti</button>
        </form>  
        <button id="back-cnfg-btn" style="float: left;" class="fancy-button">Atšaukti</button>
    </div>
    <script>
        $('#back-cnfg-btn').on('click', function () {            
            window.location.href = "{{ url_for('main.device_configurations', id=device.id) }}"
        });
    </script>
{% endblock %}