{% extends "base.html" %}

{% block content %}
<h1 class="title">Prietaisas - {{ device.deviceName }}</h1> 
<div class="tab">
    <a class="tablinks" href="{{ url_for('main.deviceControlPanel', id=device.id) }}">Valdymas</a>
    <a class="tablinks" href="{{ url_for('main.deviceHistory', id=device.id) }}">Istorija</a>
    <a class="tablinks" href="{{ url_for('main.deviceConfigs', id=device.id) }}">Konfigūracijos</a>      
    <a class="tablinks" href="#">Analitika</a>        
    </div>      
<div class="container">        
    {% block boxContent %}
    {% endblock %}        
</div>
<script>
    $('#back-btn').on('click', function () {            
        window.location.href = "{{ url_for('main.userDevices') }}"
    });
    
    $('#refresh-btn').on( 'click', function () {
        location.reload()
    });

    $('#new-config-btn').on( 'click', function () {
        window.location.href = "{{ url_for('main.createDeviceConfig', id=device.id) }}"
    });
    
</script>
{% endblock %}