{% extends "/devices/device_panel.html" %}

{% block boxContent %}
    <div class="tab-box">      
        <div id="tableSection" class="has-text-centered">	
            {% block table %}
            {% endblock %}  
            {% include '/devices/common_partials/_common_config_table.html' %}           
        </div>
        <br/>    
        <button id="back-btn" style="float: left;" class="fancy-button">Atšaukti</button>
        <button id="new-config-btn" style="float: right;" class="fancy-button">Nauja konfigūracija</button>   
        <button id="refresh-btn" style="float: right;" class="fancy-button">Atnaujinti</button>
    </div>
    <script>
        $(document).ready(function () {
            $('#configTable tbody').on('click', '#edit-cnfg-btn', function () {   
                var table = $("#configTable").DataTable();         
                var data = table.row( $(this).parents('tr')).data();
                var uuid = data.uuid
          
                window.location = "{{ url_for('main.edit_config', device_id=device.id) }}" + "/" + uuid;
            });

            $('#configTable tbody').on('click', '#activate-cnfg-btn', function () {            
                var table = $("#configTable").DataTable();         
                var data = table.row( $(this).parents('tr')).data();
                var uuid = data.uuid;
                var device_id = '{{ device.id }}'

                createLoader();
                $.ajax({
                    url: "{{ url_for('main.activate_device_configuration') }}",
                    type: 'POST',
                    data: {
                        id: device_id,
                        uuid: uuid
                    },
                    success: function(response) {
                        table.ajax.reload();
                        removeLoader();
                        getResponseMessage(response); 
                    },
                    error: function(error) {
                        table.ajax.reload();
                        removeLoader();
                        getErrorMessage(error)
                    }
                });
            });

            $('#configTable tbody').on('click', '#delete-cnfg-btn', function () {
                var table = $("#configTable").DataTable();         
                var data = table.row( $(this).parents('tr')).data();
                var uuid = data.uuid;
                var config_name = data.name;
                var device_id = '{{ device.id }}'
                
                if(confirm('Ar tikrai norite ištrinti konfigūraciją "' + config_name + '"?')){
                    createLoader();
                    $.ajax({
                        url: "{{ url_for('main.delete_device_config') }}",
                        type: 'POST',
                        data: {
                            id: device_id,
                            uuid: uuid
                        },
                        success: function(response) {
                            table.ajax.reload();
                            removeLoader();
                            getResponseMessage(response); 
                        },
                        error: function(error) {
                            table.ajax.reload();
                            removeLoader();
                            getErrorMessage(error)
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}