{% extends "/devices/devicePanel.html" %}

{% block boxContent %}
    <div class="tab-box">    
        <h1 class="subtitle has-text-centered">Prietaiso {{ device.deviceName }} konfigūracija</h1>  
        <form method=post enctype=multipart/form-data action="{{ url_for('main.editDeviceConfig', deviceId=device.id, configUUID=config.uuid) }}">
            {{ form.hidden_tag() }}
            <div class="control-panel">
                {% block commonFormContent %}
                    {% include '/devices/commonPartials/_commonConfigForm.html' %}
                {% endblock %} 
                <br>
                {% block formContent %}
                    {% if device.deviceType == 1 %}
                        {% include '/devices/deviceTypes/heater/_heaterCreateConfig.html' %}
                    {% elif device.deviceType == 0 %}
                        {% include '/devices/deviceTypes/defaultDevice/_defaultDeviceCreateConfig.html' %}
                    {% endif %} 
                {% endblock %}
            </div>
            <br/>               
            <button id="refresh-btn" style="float: right;" type="submit" class="fancy-button">Išsaugoti</button>
        </form>  
        <button id="back-cnfg-btn" style="float: left;" class="fancy-button">Atšaukti</button>
    </div>
    <script>
        $('#back-cnfg-btn').on('click', function () {            
            window.location.href = "{{ url_for('main.deviceConfigs', id=device.id) }}"
        });
    </script>
{% endblock %}