{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4  has-text-centered">
        <h3 class="title">Pridėti prietaisą</h3>
        <div class="box"> 
            <form method=post enctype=multipart/form-data action="{{ url_for('main.new_device') }}"> 
                {{ form.hidden_tag() }}
                <div class="form-row">
                    <div class="form-label-column">
                        {{ form.device_name.label }}    
                    </div>
                    <div class="form-value-column">
                        {{ form.device_name(class="input form-field is-large") }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label-column">
                        {{ form.device_type.label }}
                    </div>                     
                    <div class="form-value-column">
                        {{ form.device_type(class="input form-field is-large") }}
                    </div>                 
                </div>   
                <div class="form-row"> 
                    <div class="form-label-column">
                        <div class="upload-btn-wrapper">
                            <button class="fancy-button">Įkelti QR kodą
                            <input type="file" name="file" accept="image/*" capture="camera">  
                            </button>    
                        </div>                            
                    </div>
                    <div class="form-value-column">
                        <h3 id="qr-text">Niekas neįkelta.</h3>
                    </div>
                </div>  
                <button1class="fancy-button is-block is-info is-large is-fullwidth" type="submit">Užregistruoti prietaisą</button>
            </form>
        </div>

        <script>
            $('input[type="file"]').on('change', function() {
                var result = "";
                var fileName = $(this).val().split("fakepath\\")[1];

                if (fileName != ""){
                    result = "Įkeltas failas: " + fileName
                }

                document.getElementById('qr-text').innerHTML = result;
            });
        </script>
{% endblock %}