{% extends "base.html" %}

{% block content %}
    <script src={{ url_for('static', filename='js/html5-qrcode.js') }}></script>
    <script src={{ url_for('static', filename='js/jsqrcode-combined.js') }}></script>
    <div class="column is-4 is-offset-4  has-text-centered">
        <h3 class="title">Pridėti prietaisą</h3>
        <div class="content-box">
            {% with errors = get_flashed_messages(category_filter=["danger"]) %}
                {% if errors %}
                    {%- for message in errors %}
                        <div class="notification is-danger">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor -%}
                {% endif %}
            {% endwith %}          
            {% with errors = get_flashed_messages(category_filter=["success"]) %}
                {% if errors %}
                    {%- for message in errors %}
                        <div class="notification is-success">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor -%}
                {% endif %}
            {% endwith %}  
            <!--<div id="reader" style="height: fit-content;"></div>-->
            <form method=post enctype=multipart/form-data action="/newDevice"> 
                {{ form.hidden_tag() }}
                <div class="form-row">
                    <div class="form-label-column">
                        {{ form.deviceName.label }}    
                    </div>
                    <div class="form-value-column">
                        {{ form.deviceName(class="form-field") }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label-column">
                        {{ form.deviceType.label }}
                    </div>                     
                    <div class="form-value-column">
                        {{ form.deviceType(class="form-field") }}
                    </div>                 
                </div>   
                <div class="form-row"> 
                    <div class="form-label-column">
                        <div class="upload-btn-wrapper">
                            <button class="fancy-button">Įkelti QR kodą
                            <input type="file" name="file" accept="image/*" capture="camera">  
                            </button>    
                        </div>                            
                    </div>
                    <div class="form-value-column">
                        <h3 id="qr-text">Niekas neįkelta.</h3>
                    </div>
                </div>  
                <input class="button is-block is-info is-large is-fullwidth" type="submit" value='Užregistruoti prietaisą'>
            </form>
        </div>

        <script>
            $('input[type="file"]').on('change', function() {
                var result = "";
                var fileName = $(this).val().split("fakepath\\")[1];

                if (fileName != ""){
                    result = "Įkeltas failas: " + fileName
                }

                document.getElementById('qr-text').innerHTML = result;
            });
        </script>
{% endblock %}