{% extends "/devices/device_panel.html" %}

{% block boxContent %}
    <div class="tab-box">      
        <div id="tableSection" class="has-text-centered">	
            {% block table %}
                {% if device.device_type == 1 %}
                    {% include '/devices/device_types/heater/_heater_data_table.html' %}
                {% elif device.device_type == 0 %}
                    {% include '/devices/device_types/default_device/_default_data_table.html' %}
                {% endif %} 
            {% endblock %}                          
        </div>
        <br/>    
        <button id="back-btn" style="float: left;" class="fancy-button">Atšaukti</button>   
        <button id="refresh-btn" style="float: right;" class="fancy-button">Atnaujinti</button>
    </div>
{% endblock %}