{% extends "/devices/devicePanel.html" %}

{% block boxContent %}
    <div class="tab-box"> 
        <h1 class="subtitle has-text-centered">Valdymo pultas</h1>  
        <div class="control-panel">	
            {% block controls %}
            {% endblock %}  
            {% if device.deviceType == 1 %}
                {% include '/devices/deviceTypes/heater/_heaterControlPanel.html' %}
            {% elif device.deviceType == 0 %}
                {% include '/devices/deviceTypes/defaultDevice/_defaultControlPanel.html' %}
            {% endif %}                
        <br/>
        <button id="back-btn" style="float: left;" class="fancy-button">Atšaukti</button>
        <button id="refresh-btn" style="float: right;" class="fancy-button">Atnaujinti</button>
        <button id="reboot-btn" style="float: right;" class="fancy-button">Perkrauti prietaisą</button>      
        </div>
    </div>
    <script>
        $('#reboot-btn').on( 'click', function () {
            var deviceId = "{{ device.id }}"

            if(confirm("Ar tikrai norite perkrauti prietaisą {{ device.deviceName }}?")){
                ControlDevice(deviceId,"REBOOT");
            }
        });   
    </script>
{% endblock %}