{% extends "base.html" %}

{% block content %}
<h1 class="title">Naudotojo "{{ current_user.name }}" prietaisai</h1> 
    <div class="tab-box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <div id="tableSection">				
            <table id="userDevicesTable" class="display">
                <thead>
                    <tr>
                        <th>Prietaiso pavadinimas</th>
                        <th>MAC adresas</th>
                        <th>Būsena</th>
                        <th>Pridėjimo data</th>
                        <th>Tipas</th>
                        <th></th>		
                    </tr>
                </thead>			
            </table>
            <button id="registerUserDevice" style="float: left;" class="fancy-button">Įregistruoti naują</button>
        </div>
    </div>
    <script>
        $( window ).on( "load", loadUserDevicesTable );

        $("#registerUserDevice").click(function(){
            window.location = "/newDevice"
        });
    </script>
{% endblock %}