{% extends "/devices/device_panel.html" %}

{% block boxContent %}
    <div class="tab-box"> 
        <h1 class="subtitle has-text-centered">Valdymo pultas</h1>  
        <div class="control-panel">	
            {% block controls %}
            {% endblock %}
            {% block deviceInfo %}
            {% endblock %}              
            {% if device.device_type == 1 %}
                {% include '/devices/device_types/heater/_heater_control_panel.html' %}
            {% elif device.device_type == 0 %}
                {% include '/devices/device_types/default_device/_default_device_control_panel.html' %}
            {% endif %}  
            
            <br/>   
            {% include '/devices/common_partials/_common_control_panel.html' %}           
        <br/>
        <button id="back-btn" style="float: left;" class="fancy-button">Atšaukti</button>
        <button id="refresh-btn" style="float: right;" class="fancy-button">Atnaujinti</button>
        <button id="reboot-btn" style="float: right;" class="fancy-button">Perkrauti prietaisą</button>      
        </div>
    </div>
    <script>
        $('#reboot-btn').on( 'click', function () {
            var device_id = "{{ device.id }}"

            if(confirm("Ar tikrai norite perkrauti prietaisą {{ device.device_name }}?")){
                ControlDevice(device_id,"REBOOT");
            }
        }); 

        $('#execute-interval-btn').on( 'click', function () {
            var device_id = "{{ device.id }}";
            var interval = document.getElementById("interval-field").value;

            ConfigDevice(device_id,"interval",interval);
        });     
    </script>
{% endblock %}