{% extends "/devices/devicePanel.html" %}

{% block boxContent %}
    <div class="tab-box">      
        <div id="tableSection" class="has-text-centered">	
            {% block table %}
                {% if device.deviceType == 1 %}
                    {% include '/devices/deviceTypes/heater/_heaterDataTable.html' %}
                {% elif device.deviceType == 0 %}
                    {% include '/devices/deviceTypes/defaultDevice/_defaultDataTable.html' %}
                {% endif %} 
            {% endblock %}                          
        </div>
        <br/>    
        <button id="back-btn" style="float: left;" class="fancy-button">Atšaukti</button>   
        <button id="refresh-btn" style="float: right;" class="fancy-button">Atnaujinti</button>
    </div>
{% endblock %}