{% extends "/devices/device_panel.html" %}

{% block boxContent %}
    <div class="tab-box">      
        <div id="tableSection" class="has-text-centered">	
            <h1 class="subtitle"> {{ device.device_name}} veiksmų istorija</h1>			
            <table id="historyTable">
                <thead>
                    <tr>                       
                        <th>Tekstas</th>
                        <th>Data</th>
                    </tr>
                </thead>			
            </table>                            
        </div>
        <br/>    
        <button id="back-btn" style="float: left;" class="fancy-button">Atšaukti</button>   
        <button id="refresh-btn" style="float: right;" class="fancy-button">Atnaujinti</button>
    </div>
    <script>        
        $(document).ready(function () {
            var table = $('#historyTable').DataTable({
                "ajax": {
                    "url": "{{ url_for('main.get_device_action_history', id=device.id) }}",
                    "data_type": "json",
                    "dataSrc": "data",
                    "contentType":"application/json",
                    "error": function (error){
                        getErrorMessage(error);
                    }                     
                },
                "columns": [                  
                    {"data": "text"},
                    {"data": "date"}
                ],
                "order": [
                    [ 1, "desc" ]
                ]
            }); 
        });
    </script> 
{% endblock %}